
<html>
    <head>
        <!-- General info -->
       
         <link rel="icon" href="" type="image/gif" sizes="16x16" />
      
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="UTF-8" />

        <!-- Main files -->


        <!-- Used font || Droid arabic kufi -->
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <title><%= client.user.username %> ,  الإحصائيات</title>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- Animate.css -->
        <link rel="stylesheet" href="css/main.css">
        <script src="/main.js" defer></script>
              <link rel="stylesheet" href="/style.css">
        <!-- W3css -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <!-- javascript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
            <link rel="stylesheet" type="text/css" href="/animate.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/main.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    </head>
<body>
    


        <center>
                <img style="
                border-radius: 50%; height: 250px" id="img" data-toggle="tooltip" data-placement="bottom" title="ستايل بوت" src="<%= client.user.avatarURL %>">
          <p id="homeName">ستايل بوت</p>
                  <p id="homeDescription">الإحصائيات</p>
                  <div style="height: 30px;"></div>
                  <center><hr style="width: 25%; margin-top: -30px; background-color: white;"></center>
                  <a id="inviteBtn" href="https://discord.gg/cJTD77K"><button style="border-radius: 25px;" type="button" class="btn btn-outline-light btn-lg">سيرفر الدعم الفني <i class="fa fa-graduation-cap"></i></button></a> 
                   <a id="inviteBtn" href="https://discordapp.com/api/oauth2/authorize?client_id=<%= client.user.id %>&permissions=8&scope=bot"><button style="border-radius: 25px;" type="button" class="btn btn-outline-light btn-lg">دعوة البوت <i class="fa fa-link"></i></button></a> <br>
          
           <hr style=" width: 50%; background-color: white;"> 
          
         
              <a id="inviteBtn" href="/devs"><button style="border-radius: 25px;" type="button" class="btn btn-outline-light btn-lg">المبرمجين <i class="fa fa-users"></i></button></a> 
              <a id="inviteBtn" href="/cmds"><button style="border-radius: 25px;" type="button" class="btn btn-outline-light btn-lg">الأوامر <i class="fa fa-envelope"></i></button></a> 
        
            </center>
        <br><br><br>
                        <center><hr style="width: 25%; margin-top: -30px; background-color: white;"></center>

<center>
        <p style="font-size: 50px" id="homeName">حالة البوت  <i class="fa fa-robot"></i></p>
        <% client.guilds.get("639596114684674078").members.filter(member => member.roles.find(role => role.name == "support")).forEach(member => { %>
             <%
                    var presence = member.user.presence.status;
                    
                    var color;
                    if (presence == "dnd") {
                     color = "#F04747";
                    } else if (presence == "offline") {
                      color = "#747F8D";
                    } else if (presence == "idle") {
                      color = "#FAA61A";
                    } else {
                      color = "#43B581";
                    };
                    
                    
                    
                    %>
        
            <img style="border: 3.2px solid <%= color %>;
              border-radius: 50%; height: 120px" data-toggle="tooltip" data-placement="bottom" title="<%= member.user.tag %>" src="<%= member.user.avatarURL; %>" id="developerIMG">
        
         <% }); %>
        <br><br><br>
                        <center><hr style="width: 25%; margin-top: -30px; background-color: white;"></center>
            <center style="color: white;">
               
                    <span style="font-size: 100px;"><i class="fa fa-server"></i></span>
 
                         <h4>السيرفرات</h4>
                         <h6><%= client.guilds.size; %></h6>
     
     

 <div id="statat">
 <span style="font-size: 100px;"><i class="fab fa-android"></i></span>
                         <h4>الرومات</h4>
                         <h6><%= client.channels.size; %></h6>
    </div> 
 <div id="statats">
    <span style="font-size: 100px;"><i class="fa fa-users"></i></span>
                     <h4>المستخدمين</h4>
                     <h6><%= client.users.size; %></h6>
    </div> 
</center>
</div>
</body>
    </html>